<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bg-dark">
      <div class="card-body">
        <form action="/transaction/update/<%= transaction.id %>" method="POST">
          <input
            type="text"
            name="date"
            value="<%= transaction.transaction_date %>"
            placeholder="Date"
            class="form-control mb-3"
            autofocus
          />
          <input
            type="text"
            name="washing_id"
            value="<%= transaction.washing_id>"
            placeholder="washing_id"
            class="form-control mb-3"
          />
          <input
            type="text"
            name="payment_id"
            value="<%= transaction.payment_id>"
            placeholder="payment_id"
            class="form-control mb-3"
          />

          <button type="submit" class="btn btn-primary">save transaction</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
