<%- include("partials/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card bg-dark">
      <div class="card-body">
        <form action="/washing/update/<%= washing.id %>" method="POST">
          <input
            type="text"
            name="mode_id"
            value="<%= washing.mode_id %>"
            placeholder="mode_id"
            class="form-control mb-3"
            autofocus
          />
          <input
            type="text"
            name="start_time"
            value="<%= washing.start_time%>"
            placeholder="start_time"
            class="form-control mb-3"
          />
          <input
            type="text"
            name="is_door_open"
            value="<%= washing.is_door_open%>"
            placeholder="is_door_open"
            class="form-control mb-3"
          />
          <input
            type="text"
            name="state"
            value="<%= washing.state%>"
            placeholder="state"
            class="form-control mb-3"
          />
          <input
            type="text"
            name="machine_id"
            value="<%= washing.machine_id%>"
            placeholder="machine_id"
            class="form-control mb-3"
          />

          <button type="submit" class="btn btn-primary">save washing</button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include("partials/_footer") %>
